{% extends "base.html" %}
{% load staticfiles %}

{% load cropping %}
{% load endless %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "galleries/gallery_list.css" %}">
{% endblock extrahead %}

{% block page_title %}Welcome to My Gallery{% endblock page_title %}

{% block content %}

{% paginate gallery_list %}

{% for gallery in gallery_list %}
<div class="gallery">
		<h2>{{ gallery.title }}</h2>

		<div class="thumbnails">
			{% for image in gallery.image_list %}
				<img src="{% cropped_thumbnail image "thumbnail" %}"
				class="thumbnail"
				alt="{{ image.title }} thumbnail"
				data-url="{{ image.image.url }}"/>
			{% endfor %}
		</div>

		<div class="large-image">
			<img src="" alt="Click on a thumbnail to enlarge"/>
		</div>
	</div>
{% endfor %}

{% show_pages %}

{% endblock content %}
