{% extends "base.html" %}
{% load staticfiles %}
{% load taggit_extras %}

{% block title %}Galleries{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}
{% block page_title %}galleries{% endblock page_title %}

{% block content %}

	<ul>
		{% for year, count in archive_links %}
		<a href="{% url "gallery_year_archive" year %}">
			<li>{{ year }} ({{ count }})</li>
		</a>
		{% endfor %}
	</ul>

	<nav class="nav-tags  tags  col  span_1_of_3">
		{% get_taglist as all_galleries_tags for 'Galleries' %}
			<ul>
				{% for tag in all_galleries_tags %}
					<li><a href="{% url 'galleriestags' tag.slug %}">{{ tag }} ({{ tag.num_times }})</a></li>
				{% endfor %}
			</ul>
	</nav>
	<div class="section  group">
		{% include "galleries/gallery_list_page.html" %}
	</div>

	{% endblock content %}
