{% load cropping %}
{% load endless %}

{% lazy_paginate 2 gallery_list %}
{% for gallery in gallery_list %}
<section class="gallery section group">
	<h2>{{ gallery.title }}
				({% for tag in gallery.tags.names %}{{ tag }} {% endfor %})</h2>

		<div class="thumbnails">
			{% for image in gallery.image_list %}
				<img src="{% cropped_thumbnail image "thumbnail" max_size=100x100 %}"
				class="thumbnail"
				alt="{{ image.title }} thumbnail"
				data-url="{{ image.image.url }}"/>
			{% empty %}
					<p>There are no images in this gallery yet!<p>
			{% endfor %}
		</div>

		<div class="large-image">
			<img src="" alt="Click on a thumbnail to enlarge"/>
		</div>
</section>
{% endfor %}
{% show_more %}
