.gallery {
	border: 1px solid #CCC;
	text-align: center;

}
.large-image {
	width: 500px;
	height: 500px;
	background: lightblue;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}
.large-image img {
	max-height: 100%;
	max-width: 100%;
}
.thumbnails {
	width: 488px;
	height: 488px;
	padding: 0;
	display: inline-block;
}
.thumbnail {
	float: left;
	margin: 5px;
	padding: 0;
	height: 100px;
	width: 100px;
}
