section {
	display: block;
}
.connected, .sortable, .exclude, .handles {
	margin: auto;
	padding: 0;
	width: 488px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
	border: 1px solid #CCC;
}
.connected li, .sortable li, .exclude li, .handles li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 22px;
}
.handles span {
	cursor: move;
}
li.disabled {
	opacity: 0.5;
}
.sortable.grid li {
	line-height: 80px;
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
}
li.highlight {
	background: #FEE25F;
}
#connected {
	width: 440px;
	overflow: hidden;
	margin: auto;
}
.connected {
	float: left;
	width: 200px;
}
.connected.no2 {
	float: right;
}
li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
}

