{% extends "base.html" %}

{% load taggit_extras %}


{% block title %}Blog{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}


{% block page_title %}
BLOG!
{% endblock page_title %}


{% block aside %}
<div class="links-box">
	<h3>Categories 
		<a href=# class="side-menu-icon"><i class="fa fa-bars"></i></a>
	</h3>
	<nav>
		{% get_taglist as all_tags for 'blog'%}
		<ul>
			{% for tag in all_tags %}
			<a href="{% url 'blogtags' tag.slug %} ">
				<li>{{ tag }}</li>
			</a>
			{% endfor %}
		</ul>
	</nav>
</div>


<div class="links-box">
	<h3>Archive
		<a href=# class="side-menu-icon"><i class="fa fa-bars"></i>
		</a>
	</h3>
	<nav>
		{% for year, count in archive_links %}
			<ul>
				<a href="{% url "post_year_archive" year %}">
					<li>{{ year }} ({{ count }})</li>
				</a>
			</ul>
		{% endfor %}
	</nav>
</div>
{% endblock aside %}
