{% extends "base.html" %}

{% load staticfiles %}
{% load taggit_extras %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock extrahead %}

{% block title %}Blog{% endblock title %}


{% block page_title %}
BLOG!
{% endblock page_title %}


{% block aside %}
<div class="links-box">
<h3>Categories</h3>
	<nav>
		{% get_taglist as all_tags %}
		<ul>
			{% for tag in all_tags %}
			<a href="{% url 'blogtags' tag.slug %} ">
				<li>{{ tag }} ({{ tag.num_times }})</li>
			</a>
			{% endfor %}
		</ul>
	</nav>
</div>


<div class="links-box">
<h3>Archive</h3>
	<ul>
		{% for year, count in archive_links %}
		<a href="{% url "post_year_archive" year %}">
			<li>{{ year }} ({{ count }})</li>
		</a>
		{% endfor %}
	</ul>
</div>
{% endblock aside %}


{% block content %}

	{% for post in post_list %}
		<section>
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
		<p class="sub-heading">
			Date: {{ post.pub_date|date:'SHORT_DATE_FORMAT' }} | 
			Categories: {% for tag in post.tags.names %}<a href=#>{{ tag }}</a> {% endfor %}
		</p>
			{{ post.text|safe|truncatewords_html:100 }}
			<p class="readmore"><a href="{{ post.get_absolute_url }}">...read more &#187</a></p>
		</section>
		<hr>
	{% endfor %}

{% endblock content %}
