{% extends "blog/base_blog.html" %}


{% block content %}

<div class="post-archive">
    <h2>{{ year|date:"Y" }}</h2>
		<ul>
		{% for month, post_list in by_month %}
		<li>{{ month|date:"F" }}</p>
			<ul>
			{% for post in post_list %}
				<li>
				<a href="{{ post.get_absolute_url }}">
					{{ post.title }}
				</a>
					<p class="sub-heading">
						{% for tag in post.tags.names %}
							{{ tag }}
							{% if not forloop.last %} &#183 {% endif %}
						{% endfor %}
					</p>
				</li>
			{% endfor %}
			</ul>
		{% endfor %}
</div>

{% endblock content %}
