{% extends "base.html" %}
{% load taggit_extras %}

{% block title %}Blog Entry{% endblock title %}

{% block page_title %}
BLOG!
{% endblock page_title %}

{% block category_links %}

<div>
	<nav>
		{% get_taglist as all_tags %}
		<ul>
			{% for tag in all_tags %}
			<a href="{% url 'blogtags' tag.slug %} ">
				<li>{{ tag }} ({{ tag.num_times }})</li>
			</a>
			{% endfor %}
		</ul>
	</nav>
</div>

{% endblock category_links %}


{% block archive_links %}

	<ul>
		{% for year, count in archive_links %}
		<a href="{% url "post_year_archive" year %}">
			<li>{{ year }} ({{ count }})</li>
		</a>
		{% endfor %}
	</ul>

{% endblock archive_links %}


{% block content %}

	<article>
		<h2>{{ object.title }}</h2>
		<p>{{ object.pub_date }}</p>
		{{ object.text|safe }}
	</article>

{% endblock content %}
