{% extends "base_blog.html" %}
<!-- base_blog.html > base_generic.html > base.html -->
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock extrahead %}


{% block content %}

	{% for post in post_list %}
		<section>
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
		<p class="sub-heading">
			Date: {{ post.pub_date|date:'SHORT_DATE_FORMAT' }} | 
			Categories: {% for tag in post.tags.names %}<a href=#>{{ tag }}</a> {% endfor %}
		</p>
			{{ post.text|safe|truncatewords_html:100 }}
			<p class="readmore"><a href="{{ post.get_absolute_url }}">...read more &#187</a></p>
		</section>
		<hr>
	{% endfor %}

{% endblock content %}
