{% load i18n admin_static %}
{% load cropping %}
<style>
.inline-related {
	width: 40%;
	margin: 3% 3%;
	border: 1px solid #c5c5c5;
	min-width: 400px;
	display: inline-block;
}
.empty-form {
	display: none;
}
header, section {
	display: block;
}
body {
	font-family: 'Droid Serif';
}
h1, h2 {
	text-align: center;
	font-weight: normal;
}
#features {
	margin: auto;
	width: 460px;
	font-size: 0.9em;
}
.connected, .sortable, .exclude, .handles {
	margin: auto;
	padding: 0;
	width: 310px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
}
.connected li, .sortable li, .exclude li, .handles li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 22px;
}
.handles span {
	cursor: move;
}
li.disabled {
	opacity: 0.5;
}
.sortable.grid li {
	line-height: 80px;
	float: left;
	width: 80px;
	height: 80px;
	text-align: center;
}
li.highlight {
	background: #FEE25F;
}
#connected {
	width: 440px;
	overflow: hidden;
	margin: auto;
}
.connected {
	float: left;
	width: 200px;
}
.connected.no2 {
	float: right;
}
li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
}

</style>
	<section>
		<h2>Sortable Grid</h2>
		<ul class="sortable grid">
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
			<li>Item 4</li>
			<li>Item 5</li>
			<li>Item 6</li>
		</ul>
	</section>
	<script>
			$('.sortable').sortable();
	</script>


<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

{% for inline_admin_form in inline_admin_formset %}<div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
  <h3>&nbsp;<span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% else %}<b>{{ inline_admin_formset.opts.verbose_name|title }}</b>#{{ forloop.counter }}{% endif %}</span>
    {% if inline_admin_form.show_url %}<a href="{% url 'admin:view_on_site' inline_admin_form.original_content_type_id inline_admin_form.original.pk %}">{% trans "View on site" %}</a>{% endif %}
    {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
  </h3>
  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
  {% for fieldset in inline_admin_form %}
    {% include "admin/includes/fieldset.html" %}
  {% endfor %}
  {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
  {{ inline_admin_form.fk_field.field }}
</div>{% endfor %}
</div>

<script type="text/javascript">
(function($) {
  $("#{{ inline_admin_formset.formset.prefix }}-group .inline-related").stackedFormset({
    prefix: '{{ inline_admin_formset.formset.prefix }}',
    adminStaticPrefix: '{% static "admin/" %}',
    deleteText: "{% trans "Remove" %}",
    addText: "{% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|title %}Add another {{ verbose_name }}{% endblocktrans %}"
  });
})(django.jQuery);
</script>
