{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head profile="http://www.w3.org/2005/10/profile">
		<link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} | Annie Potter's Universe | Art, Craft & Teaching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-latest.js"></script>


    <!-- Le styles -->
    <!-- This file store project specific CSS -->
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/rgs/col.css' %}" rel="stylesheet">
		<link href="{% static 'css/rgs/2cols.css' %}" rel="stylesheet">
		<link href="{% static 'css/rgs/3cols.css' %}" rel="stylesheet">
		<link href="{% static 'css/rgs/4cols.css' %}" rel="stylesheet">
		<link href="{% static 'css/rgs/5cols.css' %}" rel="stylesheet">
    <link href="{% static 'css/rgs/6cols.css' %}" rel="stylesheet">
    <link href="{% static 'css/rgs/7cols.css' %}" rel="stylesheet">
    <link href="{% static 'css/rgs/8cols.css' %}" rel="stylesheet">
    <link href="{% static 'css/rgs/9cols.css' %}" rel="stylesheet">
    <link href="{% static 'css/apuniverse1.css' %}" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Crimson+Text|Reenie+Beanie|Just+Me+Again+Down+Here|Dawning+of+a+New+Day|Meddon' rel='stylesheet' type='text/css'>
		<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		{% block extrahead %}{% endblock extrahead %}
  </head>

  <body>
	{% url 'home' as home_url %}
	{% url 'galleries' as galleries_url %}
	{% url 'blog' as blog_url %}
	{% url 'about' as about_url %}
	{% url 'contact_form' as contact_form_url %}

	<header class="section  group">
		<div class="logo">
			<img class="logo-long"
				src="{% static 'images/apu-banner-new.png' %}"
				alt="Annie Potter's Universe">
			<img class="logo-short"
				src="{% static 'images/apu-banner-short.png' %}"
				alt="Annie Potter's Universe">
			<a href=# id="menu-icon"><i class="icon-reorder"></i></a>
			</div>
		<nav class="nav-main section  group">
			<ul class="span_4_of_5">
				<li>
					<a href="{{ home_url }}"
						{% if request.path == home_url %} class="current" {% endif %}>
						home
					</a>
				</li><!--
				--><li>
					<span class="gallery-link">
					galleries
					</span>
				</li><!--
				--><li>
					<a href="{{ blog_url }}"
						{% if request.path == blog_url %} class="current" {% endif %}>
						blog
					</a>
				</li><!--
				--><li>
					<a href="{{ about_url }}"
						{% if request.path == about_url %} class="current" {% endif %}>
						about annie
					</a>
				</li><!--
				--><li>
					<a href="{{ contact_form_url }}"
						{% if request.path == contact_form_url %} class="current" {% endif %}>
						contact
					</a>
				</li>
			</ul>
		</nav>
	</header>

		{% block home %}
		{% endblock home %}
	<div class="page-content  section  group">
		<div class="col  span_1_of_5">
			<h1 class="page-title">
		{% block page_title %}
		{% endblock page_title %}
			</h1>
		<aside>
		{% block aside %}
		{% endblock aside %}
		</aside>
		</div>
		
		<div class="main-content  col  span_4_of_5">
		{% block content %}
		{% endblock content %}
		</div>
	</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- place project specific Javascript in this file -->
		<script src="{% static "endless_pagination/js/endless-pagination.js" %}"></script>
		<!-- Required for endless pagination and thumbnail click-through -->	
    <script src="{% static 'js/apuniverse.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
		{% block extrajs %}
		{% endblock extrajs %}
  </body>
</html>
