{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} | Annie Potter's Universe | Art, Craft & Teaching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- This file store project specific CSS -->
    <link href="{% static 'css/apuniverse.css' %}" rel="stylesheet">
		{% block extrahead %}{% endblock extrahead %}
  </head>

  <body>

		<a class="navbar-title" href="{% url 'home' %}">Annie Potter's Universe</a>
		<ul class="navbar">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'new' %}">What's New</a></li>
			<li><a href="{% url 'galleries' %}">Galleries</a></li>
			<li><a href="{% url 'blog' %}">Blog</a></li>
			<li><a href="{% url 'about' %}">About Annie</a></li>
			<li><a href="{% url 'contact-form' %}">Contact</a></li>
		</ul>

    <div class="container">

      <h1>{% block page_title %}Example Base Template{% endblock page_title %}</h1>

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- place project specific Javascript in this file -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{% static "endless_pagination/js/endless-pagination.js" %}"></script>
		<!-- Required for endless pagination and thumbnail click-through -->	
    <script src="{% static 'js/apuniverse.js' %}"></script>
  </body>
</html>
