/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESETS.............. normalize.css
 * GLOBAL..............
 * LAYOUT..............
 * NAVIGATION..........
 * DETAIL..............
 * 
 */





/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/

body {
	width: 70%;
	margin: auto;
	color: #484645;
	font-size: 1.5em;
	font-family: 'Crimson text';
	background-color: #d5d5d5;
	background-color: #f5f5f5;
	background-color: #fff;
}

a {
	color: #d77f1a;
	text-decoration: none;
}

a:hover {
	color: #f79f3a;
	text-decoration: underline;
}


.logo>a {
	text-decoration: none;
}

h1 {
	font-family: 'Just Me Again Down Here', serif;
	padding: 0 1em;
}

h2 {
	margin: 0;
	font-family: 'Just Me Again Down Here', serif;
}

h2>a {
	color: #383635;
}

h2>a:hover {
	color: #585655;
}

aside ul, nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side-menu-icon, #menu-icon, .logo-short {
	display: none;
}

.sub-heading {
	font-size: 0.7em;
	text-decoration: none;
	font-weight: normal;
	margin: 0 0 1em 0;
}

hr {
	height: 1px;
	border: none;
	background-color: #d8d6d5;
}






/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* MAIN */
.page-content {
	margin: 3em 0 0 0;
}

.main-content {
	box-sizing: border-box;
}

.main-content section:first-child,
article:first-child,
.contact-page:first-child {
	margin: 0 0 1em 0;

}
.main-content section,
article,
.contact-page {
	box-sizing: padding-box;
	margin: 1em 0;
	overflow: hidden;
}

/* HEADER */

.logo-long, .logo-short {
	margin: 0 auto;
	width: 105%;
	height: auto;
}

nav {
	position: relative;
	z-index: 100;
	margin: 0;
}

.nav-main {
	font-family: 'Just Me Again Down Here', serif;
	font-size: 1.5em;
	line-height: 0.6em;
	margin-top: -0.5em;
}

.nav-main a {
	color: #d77f1a;
	display: block;
}

.nav-main ul {
	float: right;
}

.nav-main li {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 23.0769230769%
}

.nav-main ul li:first-child {
	text-align: left;
	width: 15.3846153846%;
}

.nav-main ul li:last-child {
	text-align: right;
	width: 15.3846153846%
}

.nav-main a:hover,
.nav-main a:active,
.current {
	color: #f79f3a;
	text-decoration: none;
	text-shadow: 0 0 0.5em #FFAA00,
							 0 0 1em #FFAA00,
							 0 0 1em #FFAA00,
							 0 0 1em #FFf,
							 0 0 1em #FFf,
							 0 0 1em #FFf,
							 0 0 1em #FFf,
							 0 0 1em #FFf,
							 0 0 2em #FFf,
							 0 0 2em #FFf,
							 0 0 2em #FFf,
							 0 0 2em #FFf,
							 0 0 2em #FFf;
}

/* SIDEBAR */
aside, aside a {
	color: #8c8885;
	font-family: 'Just Me Again Down Here', serif;
	font-size: 0.8em;
}

aside a {
	color: #d77f1a;
}

.links-box {
	box-sizing: border-box;
	margin: 0.5em 0;
	font-size: 1.5em;
}

.links-box h3 {
	padding: 0;
	margin: 0;
}

.links-box li {
	line-height: 1em;
}

.page-title {
	text-align: left;
	width: 100%;
	padding: 0;
	margin: 0;
}









/*------------------------------------*\
    $BLOG
\*------------------------------------*/

.post-archive ul {
	list-style: none;
}

.read-more {
	clear: both;
}

img, .embeddedContent {
	margin: 1em;
}






/*------------------------------------*\
    $GALLERIES
\*------------------------------------*/

.gallery-link {
	position: relative;
}

.gallery-link img {
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
/*

.thumbnails a:hover {
	text-decoration: none;
}

.thumbnails img {
	transition: all 0.2s;
}
.thumbnails img:hover {
	color: rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 1px 1px 15px #686665,
							1px 1px 3px #686665;
	-webkit-box-shadow: 1px 1px 15px #686665,
							1px 1px 3px #686665;
	box-shadow: 1px 1px 15px #686665,
							1px 1px 3px #686665;
	content: attr(data-title);
}

.gallery-link {
	font-size: 0.7em;
	line-height: 0.1em;
}

.gallery-header li {
	float: right;
	padding: 0 1em;
}

.gallery {
	min-height: 500px;
	padding: 0;
	margin: 0;
	text-align: left;
}

.thumbnails {
	display: inline-block;
}

.gallery-title {
	text-align: left;
}

.thumbnail {
	margin: 0 2em 2em 0;
}
*/
/*
.thumbnail:nth-child(even) {
	float: left;
	margin: 6px;
	-moz-transform: rotate(0.5deg);
	-webkit-transform: rotate(0.5deg);
}
.thumbnail:nth-child(odd) {
	float: left;
	margin: 3px;
	-moz-transform: rotate(-1deg);
	transform: rotate(-1deg);
}
*/
/*

.caption-title {
	font-weight: bold;
}

.caption-media,
.caption-size {
	font-size: 0.8em;
}



*/
/*------------------------------------*\
    $CONTACT
\*------------------------------------*/
label {
	float: left;
	width: 10em;
	margin-right: 0.5em;
	text-align: right;
}

input[type=submit] {
	margin-left: 10em;
}

.contact-page textarea {
	padding: 0.5em;
	width: 50%;
	min-width: 300px;
	max-width: 800px;
}

input:not([type=submit]), textarea {
	box-sizing: border-box;
	border: 1px solid #989695;
	background-color: #e6dfdf;
}

input:focus, textarea:focus {
	-moz-box-shadow: inset 0 0 5px #FFf,
							0 0 5px #989695;
	-webkit-box-shadow: inset 0 0 5px #FFf,
							0 0 5px #989695;
	box-shadow: inset 0 0 5px #FFf,
							0 0 5px #989695;
}





/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/
/* Upto low-res tablet:
 * - Body ~fullwidth
 * - Navbar fullwidth
 * */
@media screen and (max-width: 940px) {
	body {
		width: 90%;
	}

	.nav-main ul {
		width: 99%;
	}

}

/* Upto landscape phone, portrait small tablet:
 * - Collapse navbar
 * */
@media screen and (max-width: 640px) {
/*	.nav-main ul, */.logo-long {
		display: none;
	}
	
	.nav-main ul {
		display: none;
		position: relative;
		top: 0.2em;
		border: 5px solid #ffcc99;
		text-align: right;
	}

	.nav-main li, .nav-main ul li:first-child, .nav-main ul li:last-child {
		text-align: center;
		width: 33.3333333333333%;
		line-height: 1.5em;
		border: 1px solid #d77f1a;
		box-sizing: border-box;
	}

	#menu-icon, .logo-short {
		display: block;
	}

	.logo {
		position: relative;
		font-size: 7vw;
	}

	#menu-icon {
		position: absolute;
		padding: 0.1em 0.2em;
		box-sizing: border-box;
		border-radius: 2px;
		background-color: #ffcc99;
		right: 0;
		/*
		left: 68%;
		*/
		bottom: 12%;
		line-height: 1em;
	}

}

/*
 * - Reduce whitespace
 * - Slightly decrease font-size (closer to default size)
 * - Collapse Categories and Archives (and place on same line)
 * */
@media screen and (max-width: 480px) {

	.page-content {
		margin: 1em 0 0 0;
		font-size: 0.8em;
	}
	
	.links-box {
		margin: 0;
		float: left;
	}

	.links-box:first-child {
		padding-right: 20px;
	}

	h1 {
		line-height: 0.8em;
	}

	.links-box nav {
		display: none;
	}

	.side-menu-icon {
		display: inline;
	}

	.side-menu-icon i {
		display: inline;
		padding: 0.1em 0.2em;
		background-color: #bababa;
		color: #8c8885;
	}

	.side-menu-icon:hover {
		text-decoration: none;
	}
}

/*
 * - Reduce columns in main menu
 * - Reduce font size in main menu
 */
@media screen and (max-width: 420px) {

	.nav-main li, .nav-main ul li:first-child, .nav-main ul li:last-child {
		width: 50%;
		line-height: 1em;
	}

	.nav-main a {
		font-size: 0.8em;
	}

}

/*
 * - Place Categories and Archives on separate lines
 */
@media screen and (max-width: 350px) {

	.links-box {
		margin: 0;
		width: 100%;
		float: none;
	}
}


/*
@media screen and (max-width: 660px) {
	.main-nav {
		height: auto;
	}
	.main-nav ul {
		width: 100%;
		display: block;
		height: auto;
	}
	.main-nav li {
		width: 33.33333%;
		float: left;
		position: relative;
	}
	.main-nav li a {
		border-bottom: 1px solid #383635;
		border-right: 1px solid #383635;
	}
	.main-nav a {
		text-align: left;
		width: 100%;
		text-indent: 10px;
	}
}

@media only screen and (max-width: 600px) {
	.main-nav {
		border-bottom: 0;
	}
	.main-nav ul {
		display: none;
		height: auto;
	}
	.main-nav li {
		width: 33.333333%;
	}
	#menu-icon {
		display: block;
		width: 100%;
		position: relative;
		font-size: 2em;
	}
}

@media only screen and (max-width: 480px) {
	.main-nav li {
		width: 50%;
	}
}
*/

