/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESETS.............. normalize.css
 * GLOBAL..............
 * LAYOUT..............
 * NAVIGATION..........
 * DETAIL..............
 * 
 */





/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/

body {
	width: 70%;
	margin: auto;
	color: #383635;
	/*
	background-image: url(../images/background-no-bright.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	*/
	background-color: #d5d5d5;
	background-color: #f5f5f5;
	border-left: 1px solid #d8d6d5;
	border-right: 1px solid #d8d6d5;
	padding: 0 1em;
	box-shadow: 1px 1px 10px #a8a6a5;
}

a {
	color: #009bff;
	color: #4d71bf;
	color: #3d65c3;
	text-decoration: none;
}

a:hover {
	color: #00cbff;
	text-decoration: underline;
}

a:visited {
}

.thumbnails a:hover {
	text-decoration: none;
}

.thumbnails img {
	transition: all 0.2s;
}
.thumbnails img:hover {
	color: rgba(0, 0, 0, 0.04);
	box-shadow: 1px 1px 15px #686665,
							1px 1px 3px #686665;
	content: attr(data-title);
}

h1 {
	font-family: 'Just Me Again Down Here', serif;
	padding: 0 1em;
}

h2 {
	margin: 0;
	font-family: 'Just Me Again Down Here', serif;
}

h2>a {
	color: #383635;
}

h2>a:hover {
}

h2>a:visited {
}

aside ul, nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu-icon {
	display: none;
}

.sub-heading {
	font-size: 0.7em;
	text-decoration: none;
	font-weight: normal;
	margin: 0 0 1em 0;
}

hr {
	height: 1px;
	border: none;
	background-color: #d8d6d5;
	/*
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	*/
}






/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* MAIN */
.page-content {
	margin: 3em 0;
}

.main-content {
	box-sizing: border-box;
}

.main-content section:first-child,
article:first-child,
.contact-page:first-child {
	margin: 0 0 1em 0;

}
.main-content section,
article,
.contact-page {
	box-sizing: padding-box;
	margin: 1em 0;
	background-color: #f5f5f5;
	/*
	box-shadow: 0 0 5px #f5f5f5,
							0 0 10px #f5f5f5;
							*/
/*
	background-image: url(../images/section2.png);
	background-repeat: repeat;
	*/
	border-radius: 4px;
	overflow: hidden;
}

.nav-tags {
	margin-right: 0.5em;
	float: right;
}

.tags a, .post-snippet .tags {
	color: #489074;
	font-size: 0.8em;
}

.tags ul {
	list-style: none;
}

.nav-tags li, .nav-tags ul {
	float: right;
}

/* HEADER */
.logo {
}

.logo img {
	display: block;
	margin: 0 auto;
	width: 105%;
	height: auto;
}

nav {
	position: relative;
	z-index: 100;
	margin: 0;
}

.nav-main {
	font-family: 'Just Me Again Down Here', serif;
	font-size: 1.8em;
	line-height: 0.6em;
	margin-top: -0.5em;
/*	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.5);
	*/
}

.nav-main a {
	color: #8c8885;
	color: #d77f1a;
	display: block;
}

.nav-main ul {
	float: right;
}

.nav-main li {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 23.0769230769%
}

.nav-main ul li:first-child {
	text-align: left;
	width: 15.3846153846%;
}

.nav-main ul li:last-child {
	text-align: right;
	width: 15.3846153846%
}

.nav-main a:hover,
.nav-main a:active,
.current {
	color: #686665;
	text-decoration: none;
	text-shadow: 0 0 0.5em #FFAA00,
							 0 0 1em #FFAA00,
							 0 0 1em #FFf,
							 0 0 1em #FFf,
							 0 0 1em #FFf,
							 0 0 1em #FFf,
							 0 0 1em #FFf,
							 0 0 2em #FFf,
							 0 0 2em #FFf,
							 0 0 2em #FFf,
							 0 0 2em #FFf,
							 0 0 2em #FFf;
}

/* SIDEBAR */
aside, aside a {
	color: #8c8885;
	font-family: 'Just Me Again Down Here', serif;
}

aside a {
	color: #7c7875;
	color: #383635;
}

.links-box {
	box-sizing: border-box;
	margin: 0.5em 0;
	font-size: 1.5em;
}

.links-box h3 {
	padding: 0;
	margin: 0;
}

.links-box li {
	line-height: 1em;
}

.page-title {
	text-align: left;
	width: 100%;
	padding: 0;
	margin: 0;
}








/*------------------------------------*\
    $GALLERIES
\*------------------------------------*/

.gallery-header li {
	float: right;
	padding: 0 1em;
}

.gallery {
	min-height: 500px;
	padding: 0;
	margin: 0;
	text-align: left;
}

.thumbnails {
	display: inline-block;
}

.gallery-title {
	text-align: left;
}

.thumbnail {
	margin: 0 2em 2em 0;
}

.thumbnail:nth-child(even) {
	/*float: left;
	margin: 6px;
	-moz-transform: rotate(0.5deg);
	-webkit-transform: rotate(0.5deg);*/
}
.thumbnail:nth-child(odd) {
	/*float: left;
	margin: 3px;
	-moz-transform: rotate(-1deg);
	transform: rotate(-1deg);*/
}

.caption-title {
	font-weight: bold;
}

.caption-media,
.caption-size {
	font-size: 0.8em;
}




/*------------------------------------*\
    $CONTACT
\*------------------------------------*/
label {
	float: left;
	width: 10em;
	margin-right: 0.5em;
	text-align: right;
}

input[type=submit] {
	margin-left: 10em;
}

.contact-page textarea {
	padding: 0.5em;
	width: 50%;
	min-width: 300px;
	max-width: 800px;
}

input:not([type=submit]), textarea {
	box-sizing: border-box;
	border: 1px solid #989695;
	background-color: #e6dfdf;
}

input:focus, textarea:focus {
	box-shadow: inset 0 0 5px #FFf,
							0 0 5px #989695;
}





/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/
/*
header {
	position: relative;
	top: 0;
	border-bottom: 1px dashed #383635;
}
.logo {
	background-color: #fff;
	height: 5em;
	overflow: hidden;
	border-bottom: 1px dashed #383635;
}
.logo img {
	display: block;
	margin: 0 auto;
}
.logo-full {
	min-width: 600px;
}
.main-nav {
	line-height: 1em;
	font-size: 2.5em;
	font-family: 'Just Me Again Down Here', serif;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.5);
}
.main-nav ul {
	list-style: none;
	padding: 0;
	display: block;
	margin: 0 auto;
	height: 100%;
	text-align: center;
}
.main-nav li {
	width: 15%;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.main-nav a {
	width: 100%;
	color: #383635;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-moz-box-sizing:border-box;  
	-webkit-box-sizing:border-box;
	box-sizing:border-box;  
}
.main-nav a:hover {
	color: #605E5D;
	text-shadow: 0 0 1em #FFAA00,
		     0 0 2em #FFAA00;
}
.main-nav li:last-child a {
	border-right: 0;
}

@media screen and (max-width: 660px) {
	.main-nav {
		height: auto;
	}
	.main-nav ul {
		width: 100%;
		display: block;
		height: auto;
	}
	.main-nav li {
		width: 33.33333%;
		float: left;
		position: relative;
	}
	.main-nav li a {
		border-bottom: 1px solid #383635;
		border-right: 1px solid #383635;
	}
	.main-nav a {
		text-align: left;
		width: 100%;
		text-indent: 10px;
	}
}

@media only screen and (max-width: 600px) {
	.main-nav {
		border-bottom: 0;
	}
	.main-nav ul {
		display: none;
		height: auto;
	}
	.main-nav li {
		width: 33.333333%;
	}
	#menu-icon {
		display: block;
		width: 100%;
		position: relative;
		font-size: 2em;
	}
}

@media only screen and (max-width: 480px) {
	.main-nav li {
		width: 50%;
	}
}











.large-image {
	background: lightblue;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}
.large-image img {
	max-height: 100%;
	max-width: 100%;
}
.thumbnails {
	padding: 0;
	display: inline-block;
}
.thumbnail {
	float: left;
	margin: 5px;
	padding: 0;
}
*/
