body {
	border: none;
	box-shadow: none;
	overflow-y: scroll;
}

.animation {
/*
	position:fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1000;
	min-width: 100%;
	min-height: 110%;
*/
	box-sizing: border-box;
	width: 100%;
}
